div(class='navbar-default sidebar', role='navigation')
  div(class='sidebar-nav navbar-collapse')
    ul(class='nav', id='side-menu')
      li(class='sidebar-search')
        div(class='input-group custom-search-form')
          input(type='text', class='form-control', placeholder='Search...')
          span(class='input-group-btn')
            button(class='btn btn-default', type='button')
              i(class='fa fa-search')
      li
        a(href='index.html')
          i(class='fa fa-dashboard fa-fw')
          |  Dashboard
      li
        a(href='#')
          i(class='fa fa-bar-chart-o fa-fw')
          |  Charts
          span(class='fa arrow')
        ul(class='nav nav-second-level')
          li
            a(href='flot.html') Flot Charts
          li
            a(href='morris.html') Morris.js Charts
      li
        a(href='tables.html')
          i(class='fa fa-table fa-fw')
          |  Tables
      li
        a(href='forms.html')
          i(class='fa fa-edit fa-fw')
          |  Forms
      li
        a(href='#')
          i(class='fa fa-wrench fa-fw')
          |  UI Elements
          span(class='fa arrow')
        ul(class='nav nav-second-level')
          li
            a(href='panels-wells.html') Panels and Wells
          li
            a(href='buttons.html') Buttons
          li
            a(href='notifications.html') Notifications
          li
            a(href='typography.html') Typography
          li
            a(href='icons.html') Icons
          li
            a(href='grid.html') Grid
      li
        a(href='#')
          i(class='fa fa-sitemap fa-fw')
          |  Multi-Level Dropdown
          span(class='fa arrow')
        ul(class='nav nav-second-level')
          li
            a(href='#') Second Level Item
          li
            a(href='#') Second Level Item
          li
            a(href='#') Third Level 
              span(class='fa arrow')
            ul(class='nav nav-third-level')
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
              li
                a(href='#') Third Level Item
      li
        a(href='#')
          i(class='fa fa-files-o fa-fw')
          |  Sample Pages
          span(class='fa arrow')
        ul(class='nav nav-second-level')
          li
            a(href='blank.html') Blank Page
          li
            a(href='login.html') Login Page