nav(class='navbar navbar-default navbar-static-top', role='navigation', style='margin-bottom: 0')
  unless noSidemenu
    div(class='navbar-header')
      button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand', href, ng-click="homeCtrl.go('/')")= appName
    ul(class='nav navbar-top-links navbar-right')
      li(class='dropdown')
        a(class='dropdown-toggle', data-toggle='dropdown', href='#')
          i(class='fa fa-envelope fa-fw')
          |   
          i(class='fa fa-caret-down')
        ul(class='dropdown-menu dropdown-messages')
          li
            a(href='#')
              div
                strong John Smith
                span(class='pull-right text-muted')
                  em Yesterday
              div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li(class='divider')
          li
            a(href='#')
              div
                strong John Smith
                span(class='pull-right text-muted')
                  em Yesterday
              div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li(class='divider')
          li
            a(href='#')
              div
                strong John Smith
                span(class='pull-right text-muted')
                  em Yesterday
              div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li(class='divider')
          li
            a(class='text-center', href='#')
              strong Read All Messages
              i(class='fa fa-angle-right')
      li(class='dropdown')
        a(class='dropdown-toggle', data-toggle='dropdown', href='#')
          i(class='fa fa-tasks fa-fw')
          |   
          i(class='fa fa-caret-down')
        ul(class='dropdown-menu dropdown-tasks')
          li
            a(href='#')
              div
                p
                  strong Task 1
                  span(class='pull-right text-muted') 40% Complete
                div(class='progress progress-striped active')
                  div(class='progress-bar progress-bar-success', role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                    span(class='sr-only') 40% Complete (success)
          li(class='divider')
          li
            a(href='#')
              div
                p
                  strong Task 2
                  span(class='pull-right text-muted') 20% Complete
                div(class='progress progress-striped active')
                  div(class='progress-bar progress-bar-info', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                    span(class='sr-only') 20% Complete
          li(class='divider')
          li
            a(href='#')
              div
                p
                  strong Task 3
                  span(class='pull-right text-muted') 60% Complete
                div(class='progress progress-striped active')
                  div(class='progress-bar progress-bar-warning', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
                    span(class='sr-only') 60% Complete (warning)
          li(class='divider')
          li
            a(href='#')
              div
                p
                  strong Task 4
                  span(class='pull-right text-muted') 80% Complete
                div(class='progress progress-striped active')
                  div(class='progress-bar progress-bar-danger', role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                    span(class='sr-only') 80% Complete (danger)
          li(class='divider')
          li
            a(class='text-center', href='#')
              strong See All Tasks
              i(class='fa fa-angle-right')
      li(class='dropdown')
        a(class='dropdown-toggle', data-toggle='dropdown', href='#')
          i(class='fa fa-bell fa-fw')
          |   
          i(class='fa fa-caret-down')
        ul(class='dropdown-menu dropdown-alerts')
          li
            a(href='#')
              div
                i(class='fa fa-comment fa-fw')
                |  New Comment
                span(class='pull-right text-muted small') 4 minutes ago
          li(class='divider')
          li
            a(href='#')
              div
                i(class='fa fa-twitter fa-fw')
                |  3 New Followers                                    
                span(class='pull-right text-muted small') 12 minutes ago
          li(class='divider')
          li
            a(href='#')
              div
                i(class='fa fa-envelope fa-fw')
                |  Message Sent                                    
                span(class='pull-right text-muted small') 4 minutes ago
          li(class='divider')
          li
            a(href='#')
              div
                i(class='fa fa-tasks fa-fw')
                |  New Task                                    
                span(class='pull-right text-muted small') 4 minutes ago
          li(class='divider')
          li
            a(href='#')
              div
                i(class='fa fa-upload fa-fw')
                |  Server Rebooted                                    
                span(class='pull-right text-muted small') 4 minutes ago
          li(class='divider')
          li
            a(class='text-center', href='#')
              strong See All Alerts
              i(class='fa fa-angle-right')
      li(class='dropdown')
        a(class='dropdown-toggle', data-toggle='dropdown', href='#')
          i(class='fa fa-user fa-fw')
          |   
          i(class='fa fa-caret-down')
        ul(class='dropdown-menu dropdown-user')
          li
            a(href='#')
              i(class='fa fa-user fa-fw')
              |  User Profile
          li
            a(href='#')
              i(class='fa fa-gear fa-fw')
              |  Settings
          li(class='divider')
          li
            a(href='login.html')
              i(class='fa fa-sign-out fa-fw')
              |  Logout
    include ./sidebar
  else
    div(class='navbar-header')
      button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand', href, ng-click="homeCtrl.go('/')", style="margin-left:20px")= appName
    ul(class='nav navbar-top-links navbar-right', ng-hide="homeCtrl.authenticated()")
      li(class='dropdown')
        a(href, title='Register', ng-click="homeCtrl.go('register')")
          i(class='glyphicon glyphicon-book fa-fw')
          | Register
      li(class='dropdown')
        a(href, title='Login', ng-click="homeCtrl.go('login')")
          i(class='fa fa-user fa-fw')
          | Login
    ul(class='nav navbar-top-links navbar-right', ng-hide=" ! homeCtrl.authenticated()")
      li.dropdown
        a.dropdown-toggle(href)
          | {{homeCtrl.cart().length}}  
          i.fa.fa-shopping-cart.fa-fw
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='', aria-expanded='false')
          | {{homeCtrl.user().name}}  
          i.fa.fa-user.fa-fw
          i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-user
          li
            a(href)
              i.fa.fa-gear.fa-fw
              |  Settings
          li.divider
          li
            a(href, ng-click="homeCtrl.logout()")
              i.fa.fa-sign-out.fa-fw
              |  Logout