extends ../layouts/simple

block content
  .row
    .jumbotron
      .container
        h1 MeanKart
        p
          | This is a sample Node.js application to demonstrate microservice architecture. 
          | It includes a front-facing angular application rendered via Express and multiple 
          | microservices running at the backend. The communication is handled via an API orchestration layer
          | and RabbitMQ